In [31]:
import json
import tqdm
import pandas as pd
import langdetect
from deep_translator import GoogleTranslator

In [32]:
def get_language(text):
    try:
        return langdetect.detect(text)
    except KeyboardInterrupt as e:
        raise(e)
    except:
        return '<-- ERROR -->'
    
def get_translation(text):
    try:
        return GoogleTranslator(source='auto', target='en')\
          .translate(str(text))
    except KeyboardInterrupt as e:
        raise(e)
    except:
        return '<-- ERROR -->'

In [33]:
# Load the JSON file into a DataFrame
with open('data/out/filtered_tweets_2.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

# Create a DataFrame from the JSON data
df = pd.DataFrame(data)  # Transpose to set tweets as rows

df

,attachments,author_id,created_at,edit_history_tweet_ids,entities,id,lang,public_metrics,text,username,geo
0,{'media_keys': ['13_1610292861630840833']},51801586,2023-01-03T15:18:41.000Z,[1610294585242300416],"{'annotations': [{'end': 6, 'normalized_text':...",1610294585242300416,en,"{'bookmark_count': 0, 'impression_count': 3864...",New ABB E-mobility home charging solution help...,abbgroupnews,NaN
1,{'media_keys': ['3_1612750081463095296']},51801586,2023-01-10T09:57:29.000Z,[1612750467859378178],"{'annotations': [{'end': 2, 'normalized_text':...",1612750467859378178,en,"{'bookmark_count': 0, 'impression_count': 4887...",ABB #technology to facilitate #energyefficienc...,abbgroupnews,NaN
2,{'media_keys': ['13_1613112174939103235']},51801586,2023-01-11T10:01:06.000Z,[1613113765595320321],"{'annotations': [{'end': 51, 'normalized_text'...",1613113765595320321,en,"{'bookmark_count': 0, 'impression_count': 2559...",Better decisions for a greener data center! Ho...,abbgroupnews,NaN
3,{'media_keys': ['3_1613462741569736704']},51801586,2023-01-12T09:09:45.000Z,[1613463229665271809],"{'annotations': [{'end': 19, 'normalized_text'...",1613463229665271809,en,"{'bookmark_count': 0, 'impression_count': 2087...",ABB Formula E Season 9 goes green in Mexico!\n...,abbgroupnews,NaN
4,{'media_keys': ['13_1613831618141261825']},51801586,2023-01-13T09:41:43.000Z,[1613833662625353729],"{'annotations': [{'end': 7, 'normalized_text':...",1613833662625353729,en,"{'bookmark_count': 0, 'impression_count': 1975...",The #ABB Decoded #podcast with Frank Muehlon i...,abbgroupnews,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6125,{'media_keys': ['3_1734966670068690949']},156646851,2023-12-13T16:03:45.000Z,[1734967350619701374],"{'annotations': [{'end': 62, 'normalized_text'...",1734967350619701374,en,"{'bookmark_count': 1, 'impression_count': 2549...",🌎: 2023 was the hottest year in recorded histo...,vestas,NaN
6126,{'media_keys': ['3_1737133536577015808']},156646851,2023-12-19T15:32:30.000Z,[1737133815452074094],"{'annotations': [{'end': 61, 'normalized_text'...",1737133815452074094,en,"{'bookmark_count': 1, 'impression_count': 1905...","🇪🇺: To deliver clean, affordable, and secure e...",vestas,NaN
6127,{'media_keys': ['3_1737491113206800384']},156646851,2023-12-20T15:13:16.000Z,[1737491360804938169],"{'annotations': [{'end': 160, 'normalized_text...",1737491360804938169,en,"{'bookmark_count': 1, 'impression_count': 4680...",🌎 /🇬🇧 : In the making: one of the largest offs...,vestas,NaN
6128,NaN,156646851,2023-12-22T11:16:00.000Z,[1738156427468763517],"{'annotations': [{'end': 59, 'normalized_text'...",1738156427468763517,en,"{'bookmark_count': 0, 'impression_count': 992,...",🌎/🇬🇧: Partnering with @RWE_AG to take the Nor...,vestas,NaN
6129,{'media_keys': ['3_1740107855070441472']},156646851,2023-12-27T20:31:45.000Z,[1740108226379776142],"{'annotations': [{'end': 48, 'normalized_text'...",1740108226379776142,en,"{'bookmark_count': 2, 'impression_count': 6198...",🇺🇸 Just in: Our largest order to date in the U...,vestas,NaN

In [34]:
df = df[['username', 'lang', 'text', 'created_at']]

In [35]:
no_english = df.loc[df.lang != 'en']

In [36]:
no_english

,username,lang,text,created_at
138,acciona,es,.@ACCIONAEnergia está volcada en el mayor reto...,2023-11-11T11:30:00.000Z
139,acciona,es,Dos islas conectadas por un inmenso puente 🌉\n...,2023-11-12T11:00:00.000Z
140,acciona,es,Ya está disponible en los canales sociales de ...,2023-11-14T14:03:22.000Z
141,acciona,es,"𝐀𝐥𝐞𝐣𝐚𝐧𝐝𝐫𝐨 𝐁𝐞𝐢𝐯𝐢𝐝𝐞, Director de Transformación ...",2023-11-14T16:21:46.000Z
142,acciona,es,Las abejas de la ciudad recogen mucho más que ...,2023-11-14T21:00:01.000Z
...,...,...,...,...
6088,vestas,da,🇩🇰 / in Danish:\nVi har været med til at start...,2023-09-08T09:49:50.000Z
6089,vestas,da,🇩🇰/ in Danish: I Danmark har vi besluttet at f...,2023-09-13T11:41:01.000Z
6108,vestas,und,🇩🇰: #dkbiz #dkpol #dkgreen https://t.co/9BpJhy...,2023-10-04T07:38:30.000Z
6115,vestas,da,🇩🇰 (in Danish): Tak for besøget på vores fabri...,2023-11-10T08:47:32.000Z
6124,vestas,da,🇩🇰: I år der indtil nu indgået købsaftaler på ...,2023-12-12T17:01:53.000Z

In [42]:
indexes = []
texts = []
for index, row in tqdm.tqdm(no_english.iterrows()):
    indexes.append(index)
    texts.append(row['text'])

en_texts = []
for text in tqdm.tqdm(texts):
    transl = get_translation(text)
    en_texts.append(transl)
    
no_english['en_text'] = en_texts

798it [00:00, 14547.79it/s]
100%|██████████| 798/798 [12:04<00:00,  1.10it/s]
C:\Users\valen\AppData\Local\Temp\ipykernel_30092\3344388883.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_english['en_text'] = en_texts

In [44]:
len(en_texts)

798

In [50]:
for idx, text in zip(indexes, en_texts):
    no_english.loc[idx, 'en_text'] = text

In [52]:
no_english

,username,lang,text,created_at,en_text
138,acciona,es,.@ACCIONAEnergia está volcada en el mayor reto...,2023-11-11T11:30:00.000Z,.@ACCIONAEnergia is focused on the greatest ph...
139,acciona,es,Dos islas conectadas por un inmenso puente 🌉\n...,2023-11-12T11:00:00.000Z,Two islands connected by a huge bridge 🌉\n\nBu...
140,acciona,es,Ya está disponible en los canales sociales de ...,2023-11-14T14:03:22.000Z,Episode 2 of the docuseries '#LaLuzQuePermanec...
141,acciona,es,"𝐀𝐥𝐞𝐣𝐚𝐧𝐝𝐫𝐨 𝐁𝐞𝐢𝐯𝐢𝐝𝐞, Director de Transformación ...",2023-11-14T16:21:46.000Z,"𝐀𝐥𝐞𝐣𝐚𝐧𝐝𝐫𝐨 𝐁𝐞𝐢𝐯𝐢𝐝𝐞, Director of Digital Infrast..."
142,acciona,es,Las abejas de la ciudad recogen mucho más que ...,2023-11-14T21:00:01.000Z,City bees collect much more than pollen\n\n🐝🐝🐝...
...,...,...,...,...,...
6088,vestas,da,🇩🇰 / in Danish:\nVi har været med til at start...,2023-09-08T09:49:50.000Z,🇩🇰 / in Danish:\nWe have helped start the Alli...
6089,vestas,da,🇩🇰/ in Danish: I Danmark har vi besluttet at f...,2023-09-13T11:41:01.000Z,"🇩🇰/ in Danish: In Denmark, we have decided to ..."
6108,vestas,und,🇩🇰: #dkbiz #dkpol #dkgreen https://t.co/9BpJhy...,2023-10-04T07:38:30.000Z,🇩🇰: #dkbiz #dkpol #dkgreen https://t.co/9BpJhy...
6115,vestas,da,🇩🇰 (in Danish): Tak for besøget på vores fabri...,2023-11-10T08:47:32.000Z,🇩🇰 (in Danish): Thank you for visiting our fac...
6124,vestas,da,🇩🇰: I år der indtil nu indgået købsaftaler på ...,2023-12-12T17:01:53.000Z,"🇩🇰: This year, until now, purchase agreements ..."

In [53]:
for index, row in no_english.iterrows():
    if index in df.index:
        df.loc[index, 'text'] = row['en_text']
df

,username,lang,text,created_at,en_text
0,abbgroupnews,en,New ABB E-mobility home charging solution help...,2023-01-03T15:18:41.000Z,NaN
1,abbgroupnews,en,ABB #technology to facilitate #energyefficienc...,2023-01-10T09:57:29.000Z,NaN
2,abbgroupnews,en,Better decisions for a greener data center! Ho...,2023-01-11T10:01:06.000Z,NaN
3,abbgroupnews,en,ABB Formula E Season 9 goes green in Mexico!\n...,2023-01-12T09:09:45.000Z,NaN
4,abbgroupnews,en,The #ABB Decoded #podcast with Frank Muehlon i...,2023-01-13T09:41:43.000Z,NaN
...,...,...,...,...,...
6125,vestas,en,🌎: 2023 was the hottest year in recorded histo...,2023-12-13T16:03:45.000Z,NaN
6126,vestas,en,"🇪🇺: To deliver clean, affordable, and secure e...",2023-12-19T15:32:30.000Z,NaN
6127,vestas,en,🌎 /🇬🇧 : In the making: one of the largest offs...,2023-12-20T15:13:16.000Z,NaN
6128,vestas,en,🌎/🇬🇧: Partnering with @RWE_AG to take the Nor...,2023-12-22T11:16:00.000Z,NaN
6129,vestas,en,🇺🇸 Just in: Our largest order to date in the U...,2023-12-27T20:31:45.000Z,NaN

In [59]:
df = df.drop(columns=['en_text'])
df

,username,lang,text,created_at
0,abbgroupnews,en,New ABB E-mobility home charging solution help...,2023-01-03T15:18:41.000Z
1,abbgroupnews,en,ABB #technology to facilitate #energyefficienc...,2023-01-10T09:57:29.000Z
2,abbgroupnews,en,Better decisions for a greener data center! Ho...,2023-01-11T10:01:06.000Z
3,abbgroupnews,en,ABB Formula E Season 9 goes green in Mexico!\n...,2023-01-12T09:09:45.000Z
4,abbgroupnews,en,The #ABB Decoded #podcast with Frank Muehlon i...,2023-01-13T09:41:43.000Z
...,...,...,...,...
6125,vestas,en,🌎: 2023 was the hottest year in recorded histo...,2023-12-13T16:03:45.000Z
6126,vestas,en,"🇪🇺: To deliver clean, affordable, and secure e...",2023-12-19T15:32:30.000Z
6127,vestas,en,🌎 /🇬🇧 : In the making: one of the largest offs...,2023-12-20T15:13:16.000Z
6128,vestas,en,🌎/🇬🇧: Partnering with @RWE_AG to take the Nor...,2023-12-22T11:16:00.000Z
6129,vestas,en,🇺🇸 Just in: Our largest order to date in the U...,2023-12-27T20:31:45.000Z

In [60]:
df.to_csv('df_for_topic_modelling.csv')